
<!-- Listing of Users  -->

<table class="table table-striped" [mfData]="list" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
    <tr>
      <th style="width: 20%">
        <mfDefaultSorter by="name">Name</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="username">User Name</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="email">Email</mfDefaultSorter>
      </th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data">
      <td (click) ="getUserDetail(item)"><a class="pointer">{{item.name}}</a></td>
        <td >{{item.username}}</td>
      <td>{{item.email}}</td>
    
      
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>

<app-user-detail-form [userDetail]="userDetail"></app-user-detail-form>

