


<div class="container">
  <h2>User Information Form</h2>
  <form >
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control"  placeholder="Name" name="email" value="{{userDetail?.name}}">
    </div>
    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" class="form-control"  placeholder="User Name"  value="{{userDetail?.username}}">
    </div>
    <div class="form-group">
      <label for="street">Street:</label>
      <input type="text" class="form-control" placeholder="Street" value="{{userDetail?.address.street}}">
    </div>
    <div class="form-group">
      <label for="city">City:</label>
      <input type="text" class="form-control" placeholder="City" value="{{userDetail?.address.city}}">
    </div>
  </form>
</div>
